<section class="card">
  <!-- Links to specific itinerary by itinerary id -->
  <a class="plan" href="/itinerary/{{id}}">
    {{plan_name}}
  </a>

  <h2 class="card-date">{{format_date start_date}} -  {{format_date end_date}}</h2>

  <h2 class="itineraryText">{{description}}</h2>

  <h2 class="card-username">- {{user.username}}</h2>

  {{#if my_plans}}
    <img src="./assets/images/x.png" id="x-image">
  {{/if}}
</section>

