<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roadtrip Planner</title>
  <link rel="stylesheet" href="/assets/jass.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        {{#if my_plans}}
          My Plans
        {{else}}
          {{#if creating_plan}}
            Creating a Plan
            {{else}}
            Current Plans
          {{/if}}
        {{/if}}
      </h1>
      <nav class="display-flex align-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          {{#if my_plans}}
            <a class="navLink" href="/">Current Plans</a>
          {{else}}
            <a class="navLink" href="/my-plans">My Plans</a>
          {{/if}}

          <div id="vl"></div>

          {{#if creating_plan}}
            <a class="navLink" href="/">Current Plans</a>
          {{else}}
            <a class="navLink" href="/create-plan">Create a Plan</a>
            
          {{/if}}

          <div id="vl"></div>
          
          <a class="navLink" id="logout" href="/logout">Logout</a>
        {{else}}
          <a class="navLink" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>